<nav class="navbar navbar-expand-lg navbar-light bg-light bg">
    <a class="navbar-brand" href="#"><b>My ImageBazaar</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url  'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">All Images</a>
            <a class="dropdown-item" href="#">Educations</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cloths</a>
          </div>
        </li>
        
      </ul>
      <form method="GET" class="form-inline my-2 my-lg-0" action="{% url  'search' %}" >
        
        <input class="form-control mr-sm-2" name="q"  type="search" placeholder="Search" aria-label="Search">
        
        
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- <p><label for="id_q">Search:</label>
    <input type="text" name="q" id="id_q" value="{{ query }}" />
    <select name="category">
      {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
      {% endfor %}  
    </select> -->